{% extends "base.html" %}
{% load tz %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <Table>
{% for message in messages reversed %}
    <Tr><td><img src="/static/images/icon.gif"> {{ message.time|timezone:'Asia/Taipei' }} <a href="{{ message.url }}">{{ message.title|safe }}</a></td></Tr>
{% endfor %}
</Table>
{% endblock %}