{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
{{user_name}}
        <table>
        <tr>
            <td>記錄</td>
            <td>時間</td>
        </tr>
        {% for log in logs %}
            <tr>
                <td><a href="{{log.url}}">{{log.message}}</a></td>
				<td>{{log.publish}}</td>
            </tr>
        {% endfor %}
        </table>
        {% include "pagination.html" with page=page_obj %}
{% endblock %}