{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
  <h1>修改密碼</h1>
  <p>請填寫下列資料來修改您的密碼：</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="送出"></p>
    {% csrf_token %}
  </form>
{% endblock %}