@charset "utf-8";
/*
Template Name: Abele
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.2.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1{border-top:2px solid;}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5{border-top:1px solid;}
.row6, .row6 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:5px 0 8px; font-size:16px; text-transform:uppercase;}

#topbar .nospace.linklist{}
#topbar .nospace.linklist li{display:inline; margin-right:5px; padding-right:8px; border-right:1px solid;}
#topbar .nospace.linklist li:last-child{margin:0; padding:0; border:none;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:8px 0 0 0;}
#header #logo h1{margin:0; padding:0; text-transform:none; font-size:36px; font-variant:small-caps;}


/* Intro
--------------------------------------------------------------------------------------------------------------- */
#intro{padding:120px 0;}

#intro article{text-align:center; opacity:.5;}
#intro article:hover{opacity:1;}
#intro article *{display:block; width:100%; margin:0; padding:0; box-sizing:border-box;}
#intro article .heading{padding:30px 25px; font-size:18px;}
#intro article ul{padding:20px 15px; font-style:italic;}
#intro article ul li{padding:12px 0;}
#intro article .link a{padding:20px 0; text-transform:uppercase; font-weight:bold;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

/* Featured Post */
#featuredpost{display:inline-block; position:relative; max-width:100%; overflow:hidden; text-align:center;}
#featuredpost img{}
#featuredpost figcaption{display:block; position:absolute; bottom:0; width:100%; padding:20px 15px; box-sizing:border-box;}
#featuredpost figcaption *{margin:0 0 10px 0;}
#featuredpost figcaption :last-child{margin:0;}
#featuredpost figcaption .heading{}
#featuredpost figcaption .shortintro{}
#featuredpost figcaption .link{}
#featuredpost figcaption .link a{}

/* Latest Posts */
#latestposts{}
#latestposts li{margin:0 0 25px 0; padding:0 0 25px 0; border-bottom:1px solid;}
#latestposts li:last-child{margin:0; padding:0; border:none;}
#latestposts li figure{}
#latestposts li figure img{}
#latestposts li article{}
#latestposts li article *{margin:0;}
#latestposts li article :last-child{margin:0;}
#latestposts li article .heading{font-size:18px;}
#latestposts li article .meta{margin:-3px 0 5px 0;}
#latestposts li article .meta *{display:inline; margin-left:10px; font-size:.8rem; line-height:normal;}
#latestposts li article .meta :first-child{margin-left:0;}
#latestposts li article .shortintro{margin-bottom:15px;}
#latestposts li article .link{}
#latestposts li article .link a{}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* CTA - Call to Action
--------------------------------------------------------------------------------------------------------------- */
#cta{padding:50px 0;}

#cta article{box-sizing:border-box;}
#cta article .heading, #cta article p{margin:0;}
#cta article .heading{margin-bottom:20px; padding:20px 10px 0 0; font-size:18px;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:50px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:16px; text-transform:uppercase;}

#footer .linklist li{margin-bottom:15px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8rem; margin:0;}

#footer input, #footer button{border:none;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:6px 12px 8px; font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:30px 0;}
#copyright p{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav ul, #mainav a, .btn, #intro article{transition:all .4s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; float:left; position:relative; margin:0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:8px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:50px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:5px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; font-weight:normal;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top; box-sizing:border-box;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:block; width:30px; height:30px; line-height:30px; font-size:16px; text-align:center;}
.faico a{color:#FFFFFF; background-color:#111111;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-pinterest:hover{background-color:#C8232C;}
.faicon-rss:hover{background-color:#EE802F;}
.faicon-twitter:hover{background-color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#111111;}

a{color:#1a0dab;}

hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.overlay{background-color:rgba(0,0,0,.6);}
.btn{border-color:#8ABA56;}
.btn:hover{color:#FFFFFF; background-color:#8ABA56;}


/* Rows */
.row0, .row0 a{color:#FFFFFF; background-color:#0099FF;}
.row1{color:#292929; background-color:#FFFFFF; border-color:#8ABA56;}
.row2{color:#FFFFFF; background-color:#232323;}
.row3{color:#292929; background-color:#FFFFFF; background-image: url('/static/images/back.png'); background-size: 100% auto;}
.row4, .row4 a{color:#292929; background-color:#F3F3F3;}
.row5{color:#888888; background-color:#232323; border-color:#8ABA56;}
.row6, .row6 a{color:#888888; background-color:#111111;}


/* Top Bar */
.nospace.linklist li{border-color:#888888;}


/* Header */
#header #logo h1 a{color:inherit;}


/* Intro */
#intro article .heading{color:#292929; background-color:#F3F3F3;}
#intro article ul{color:#888888; background-color:#FFFFFF;}
#intro article .link a{color:#FFFFFF; background-color:#8ABA56;}


/* Content Area */
#featuredpost figcaption{color:#FFFFFF; background-color:rgba(0,0,0,.5);}
#latestposts li{border-color:#D7D7D7;}


/* CTA */
.colour-1 a, .colour-2 a{border-color:#F3F3F3;}
.colour-1, .colour-1 a{color:#FFFFFF; background-color:#F0AD4E;}
.colour-1 a.btn:hover{background-color:#D08011; border-color:#AC690F;}
.colour-2, .colour-2 a{color:#FFFFFF; background-color:#6FD2E5;}
.colour-2 a.btn:hover{background-color:#187687; border-color:#11525E;}


/* Footer */
#footer .title{border-color:#111111;}
#footer input{background-color:#111111;}
#footer button{color:#FFFFFF; background-color:#8ABA56; text-shadow:0 -1px 1px rgba(0,0,0,.5);}

#footer .faico a{color:inherit;}
#footer .faico a:hover{color:#FFFFFF;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FFFFFF; background-color:#8ABA56;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#8ABA56;}
#mainav form select{border-color:#D7D7D7;}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#8ABA56;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#8ABA56;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current{color:#FFFFFF; background-color:#000000;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:500px) {
	#featuredpost figcaption .shortintro{display:none;}
	#intro{padding:80px 0 50px;}
	#breadcrumb{padding:20px 0;}
	#latestposts li figure{float:none; margin:0 0 20px 0;}
	.container{padding:50px 0;}
	#cta{padding:50px 0 20px;}
}

@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#topbar, #header, #intro, #breadcrumb, .container, #cta, #footer, #copyright{max-width:95%;}

	#topbar{text-align:center;}
	#topbar ul{margin-bottom:10px;}
	#topbar > div:nth-of-type(2) ul{margin:0;}

	#header{padding:15px 0; text-align:center;}
	#header #logo{margin:0 0 20px 0;}

	#mainav{margin-top:5px;}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#cta article{display:block; padding:30px 20px; text-align:center;}
	#cta article *{margin:0;}
	#cta article img{margin-bottom:20px;}
	#cta article .heading{padding:0;}

	#copyright p:first-of-type{margin-bottom:10px;}
}

/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width:180px) and (max-width:750px) {
	#latestposts li figure, #latestposts li article{margin:0;}
	#latestposts li figure{float:left; margin-right:20px;}
}
/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width:180px) and (max-width:500px) {
	#latestposts li figure{float:none; margin:0 0 20px 0;}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#topbar, #header, #intro, #breadcrumb, .container, #cta, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
}

/* Progress
--------------------------------------------------------------------------------------------------------------- */
.progress_table {font-size: 70%}

.classlist li {
	list-style: none;
	display: inline-block;
	width: 100px;
	box-shadow: 1px 1px 3px #666;
}

.classlist li:hover {
	background-color: lemonchiffon;
}

.classlist a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 60px;
}

a.button {
	border-radius: 3px;
	margin: 3px;
	border: 1px solid silver;
	padding: 5px;
}

/* Youtube Player playlist
--------------------------------------------------------------------------------------------------------------- */
.playlist li {
	list-style: none;
	cursor: pointer;
	padding: 3px;
}
/* Quiz
--------------------------------------------------------------------------------------------------------------- */
.quiz {max-width: 800px;}
.quiz.unfilled {border: 1px solid red;}
.concept_list li {list-style: none; display: inline; background-color: black; color: white; padding: 3px; border-radius: 3px; font-size: 12px}
.concept_list ul {display: inline; padding: 0; margin: 0}
.concept_list {margin: 3pt 0;}
.answer_list li {list-style-type: upper-alpha; cursor: pointer}
.answer_list li:hover {background-color: lightblue;}
.answer_list .selected {border: 1px solid red}
.answer_list {vertical-align: middle}
.answer_list ol {display: inline-block; width: 200px; margin: 0 3pt; vertical-align: middle}
.answer_list input {font-size: 70px;width:80px; text-align:center; vertical-align: middle; background-color: transparent; border: 1px solid silver}
.answer_list .correct {background-color: lightgreen}
.answer_list .wrong {background-color: red}
.answer_list img {margin-left: -70px}
